@{
    ViewBag.Title = "About";
}

<table class="data">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Occupation</th>
            <th>Approx. Location</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>203A</td>
            <td>Johny Stardust</td>
            <td>Front-man</td>
            <td>Los Angeles</td>
            <td>$39.95</td>
        </tr>
        <tr>
            <td>141B</td>
            <td>Beau Dandy</td>
            <td>Singer</td>
            <td>New York</td>
            <td>$39.95</td>
        </tr>
        <tr>
            <td>2031</td>
            <td>Mo' Fat</td>
            <td>Producer</td>
            <td>New York</td>
            <td>$19.95</td>
        </tr>
        <tr>
            <td>007F</td>
            <td>Kellie Kelly</td>
            <td>Singer</td>
            <td>Omaha</td>
            <td>$11.95</td>
        </tr>
        <tr>
            <td>8A05</td>
            <td>Darth Fader</td>
            <td>DJ</td>
            <td>London</td>
            <td>$19.95</td>
        </tr>
        <tr>
            <td>6636</td>
            <td>Glendatronix</td>
            <td>Keytarist</td>
            <td>London</td>
            <td>$39.95</td>
        </tr>
    </tbody>
</table>

<section id="bio">
    <h2>Who’s Hot Right Now?</h2>
    <h3>Beau Dandy</h3>
    <div>
        <img src="../images/beau_100.jpg" width="100"
            height="100" alt="Beau Dandy" />
        <p>Content about Beau Dandy</p>
    </div>
    <h3>Johnny Stardust</h3>
    <div>
        <img src="../images/johnny_100.jpg" width="100"
            height="100" alt="Johnny Stardust" />
        <p>Content about Johnny Stardust</p>
    </div>
    <h3>Glendatronix</h3>
    <div>
        <img src="../images/glenda_100.jpg" width="100"
            height="100" alt="Glendatronix" />
        <p>Content about Glendatronix</p>
    </div>
</section>
