@{
    ViewBag.Title = "Home Page";
}

Home Page

<table border="1" id="table1">
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
</table>

<input type="button" id="hidebutton"" value="Hide" />
<p>Who lost their recording contract today?</p>
<span class='spoiler'>The Zaxntines!</span>